:host{
  flex: 1 1 auto;
  /*position: relative;*/
  display:flex;
  flex-direction:column;
}
.map-page-container{
  flex:1 1 auto;
  display: flex;
  flex-direction: row;
}

.map-container{
  flex:2;
}
.data-container{
  flex:1;
}
@media all and (max-width: 600px){
  .map-page-container{
    flex-direction: column;
  }
}

